h3 
{
 color:red;
 }
 
.para 
{ 
  color:green;
}

#header
{
	background-color:blue;
}
 body
 {
	 background-image:url("../image/vaishu.jpg");
	 background-attachment:fixed;
 }

.button
{ 
  background-color:white;
  color:black;
  padding:20px;
}
.button:hover
{
	background-color:black;
	color:white;
	
}