body
{
    background-image:url("../image/vaishu.jpg");
    background-attachment: fixed;
}

  
.loginbox
{
  
 background-color:white;
 height:750px;
 width: 400px;
 border-radius: 25px;  
 box-sizing: border-box;
 margin:50px 500px;
 margin-bottom:200px;
}




button
{

    padding:10px 140px;
    margin:50px 50px;
    border-radius:25px;
    border-color:blue;  
} 

button:hover
{
  background-color:white;
}



.textbox input
{
  
  outline: none;
  border: none;
  width: 300px;
  border-bottom: 1px solid;
  height:30px;
  margin:10px 50px;
  border-color: gray
}
